@{
    ViewData["Title"] = "Page 2";
}

@section Header {
    <h1 class="fw-semibold">Tutorial - Page 2</h1>
}

<p>Here's the second thing you need to know about my website.</p>
<a class="btn btn-dark" asp-action="Index" asp-route-id="Page1">Prev</a>
<a class="btn btn-dark" asp-action="Index" asp-route-id="Page3">Next</a>
