@{
    ViewData["Title"] = "Page 3";
}

@section Header {
    <h1 class="fw-semibold">Tutorial - Page 3</h1>
}

<p>Here's the third thing you need to know about my website.</p>
<a class="btn btn-dark" asp-action="Index" asp-route-id="Page2">Prev</a>
