@{
    ViewData["Title"] = "Contact Page";
}

<div class="mt-5">
    <h1 class="fw-semibold">Contact Me</h1>
</div>

<table class="table table-bordered mt-4">
    <tr>
        <th>Phone</th>
        <td>555-123-4567</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>me@mywebsite.com</td>
    </tr>
    <tr>
        <th>Facebook</th>
        <td>facebook.com/mywebsite</td>
    </tr>
</table>